.edit-button {
  /* display: inline-block; */
  /* background-repeat: no-repeat; */
  height: 30px;
  width: 30px;
  /* margin-left: 5px; */
  content: url('../icons/svg/edit.svg');
  background-position: 10px 0px;
}

.save-button {
  height: 30px;
  width: 30px;

  content: url('../icons/svg/save.svg');
  background-position: 10px 0px;
}

.add-row {
  display: block;
  position: relative;
  background-size: contain;
  height: 30px;
  width: 30px;
  left: 25%;
  margin-top: 8px;
  background-image: url('../icons/svg/add.svg');
}

.delete-button {
  height: 30px;
  width: 30px;
  content: url('../icons/svg/delete.svg');
  /* margin-left: 6px; */
  background-position: 10px 0px;
}

#notification {
  position: fixed;
  top: 100px;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%);
  background-color: rgba(4, 130, 0, 0.7);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.5s ease-in-out;
  z-index: 998;
  box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.5);
}