@import "header.css";
@import "footer.css";
@import "sliderStyle.css";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  max-width: 550px;
  width: calc(100vw - 40px);
  box-sizing: border-box;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Centrifying cards */
  justify-content: flex-start; /* Alignment cards by top */
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADERS FOR TOPICS */
h2 {
  font-size: 2em;
}
aside {
  width: 25%; /* Занимает 20% ширины окна */
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  position: fixed; /* Фиксированная позиция */
  top: 60px; /* Отступ от верха страницы */
  left: 0; /* Зафиксировано слева */
  height: calc(100vh - 60px); /* Высота по всему экрану */
  overflow-y: auto;
  display: none;
}
/* NUTRIENT DETAILS */
.intro-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center; /* Centrifying cards */
  justify-content: center; /* Alignment cards by top */
}

#nutrient-image,
#food-image {

  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
  margin-bottom: 10px;
}
#nutrient-header,
#food-header {
  position: relative;
  text-align: center;
  font-size: 3em;
  margin-top: 10px;
}
#nutrient-description {
  font-size: 1.5em;
}

.nutrient-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%; /* Card takes full width */
  max-width: 850px; /* Limit maximum width */
  text-align: center;
  transition: transform 0.2s;
  margin-bottom: 20px;
}

.nutrient-card:hover {
  transform: scale(1.03);
}

.nutrient-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.nutrient-card h3 {
  margin: 15px 0;
}

.nutrient-card p {
  padding: 0 15px;
  margin-bottom: 15px;
  color: #666;
}

.nutrient-card a {
  text-decoration: none;
  color: #2196f3;
  display: block;
  padding: 0px 0;
  font-weight: bold;
}
.description {
  max-height: 2.4em; /* установите необходимую высоту */
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
}

/* ACTIVE FORMS STYLES */
.forms {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.forms ul > li {
  margin-bottom: 10px;
}
.active-form {
  font-size: 1.5em;
}

/* RDA DOSAGE STYLES */
.rda {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#rda-description {
  height: 100%;
  overflow-x: auto;
  overflow-y: visible;
  height: 100%;
  font-size: 1.5em;
}
#rda-description ul {
  margin-top: 15px;
  padding-left: 55px;
}
.rda ul > li {
  margin-bottom: 10px;
}
/* INTERACTIONS STYLES */
.interactions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}
.interaction {
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* wide screens */
@media (min-width: 768px) {
  main {
    max-width: 989px;
    width: calc(100vw - 110px);
  }
  .nutrient-card {
    max-width: 989px; /* Limit maximum width */
  }
  .nutrient-card img {
    height: 350px;
  }
}

@media (min-width: 990px) {
  main {
    max-width: 1100px;
    width: calc(100vw - 90px);
  }
  .nutrient-card {
    max-width: 1100px; /* Limit maximum width */
  }
  .nutrient-card img {
    height: 400px;
  }
}

@media (min-width: 1281px) {
  main {
    max-width: 1100px;
    width: calc(100vw - 90px);
  }
  .nutrient-card {
    max-width: 1100px; /* Limit maximum width */
  }
  .nutrient-card img {
    height: 450px;
  }
}

/* Mobile version adjustments */
@media (max-width: 768px) {
  aside {
    width: 100%;
    position: relative;
    top: 0;
    height: auto;
    padding: 10px;
    box-shadow: none;
    border-top: 1px solid #ccc;
    /* display: flex;  */
    display: none;
    justify-content: space-around;
  }
  main {
    max-width: 550px;
    width: 100vw - 40px;
  }
  .nutrient-card {
    width: 100%; /* Card still takes full width on mobile */
  }
  .nutrient-card img {
    height: 250px;
  }
  p {
    font-size: 1.2em !important;
  }
  .interaction {
    font-size: 1.2em;
  }
}

/* EDIT BUTTON */

#edit-button {
  font-size: 1.5em;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #b5e9ff;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
#edit-button:hover {
  background-color: #97ffee;
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th {
  background-color: #c9c9c9;
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

tr:nth-child(even) {
  background-color: #efefef;
}

tr:hover {
  background-color: #e6e6e6;
}
/* TABLES */

@font-face {
  font-family: "TT Norms Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("TT Norms Pro"),
    url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal.woff2")
      format("woff2"),
    url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal.woff")
      format("woff"),
    url("https://static.cookunity.com/cross/front-lib/fonts/tt-norms-pro-normal.ttf")
      format("truetype");
}
@font-face {
  font-family: "TT Norms Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://statics.cookunity.com/fonts/tt-norms-pro/tt-norms-pro-bold.woff2")
      format("woff2"),
    url("https://statics.cookunity.com/fonts/tt-norms-pro/tt-norms-pro-bold.woff")
      format("woff"),
    url("https://statics.cookunity.com/fonts/tt-norms-pro/tt-norms-pro-bold.ttf")
      format("truetype");
}
